/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --font: 'Poppins', sans-serif;
  --title-font-size: 2.25rem;
  
  --big-font-size: 1.5rem;
  --middle-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  --bg-color: #d4a4a4;
  --second-bg-color: #808080;
  --text-color:#0a0a38;
  --second-text-color: #080000;
  --main-color:#131613;
  --height-nav: 3em;
  --padding-container: 3em 0;
  --border-bottom: 4px solid var(--main-color);
}
