body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #4f4c47;
    color: #937347;
}

header {
    background-color: #c8926b;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

section {
    padding: 30px 20px;
}

.sobre, .contato {
    background-color: #413f39;
    margin: 20px 0;
    border-radius: 8px;
    padding: 20px;
}

.galeria .imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(18, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #b97c50;
    color: white;
}

